<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@analzyed_text.count_of_words%> </h2>

<h2>Vowels: <%=@analyzed_text.count_of_vowels%></h2>

<h2>Consonants: <%=@analyzed_text.count_of_consonants%></h2>

<% @analyzed_text.most_used_letter.each do |k,v| %>
    <h2>Most Common Letter: <%=k.capitalize%>, used <%=v%> times</h2>
  <% end %>
